body {
    background: #1c1c1c;
}

#container {
    margin: 4em;
    background: #1f2937;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 115px;
    padding-bottom: 115px;
}

h1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 40px;

    letter-spacing: -0.025em;
    color: #FFFFFF;
}

#second-line {
    color: #55f991;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #D5D4D8;
}

#checks {
    display: flex;
}

#symbols-container {
    margin-right: 50px;
}

input#symbols, input#numbers {
    width: 22px;
    height: 22px;
}

label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;

    width: 200px;
    height: 42px;
    left: 52px;
    top: 284px;
    font-size: 16px;
    font-weight: bold;

    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    margin-top: 50px;
    margin-bottom: 70px;
}

#passwords {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left, #right {
    width: 3000px;
    height: 50px;
    left: 52px;
    top: 396px;
    
    background: #273549;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    margin-right: 24px;
}

#first-password, #second-password {
    color: #55F991;
    font-size: 28px;
}